.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Biztosítja, hogy a modal az összes többi elem felett jelenjen meg */
}

.modal-content {
  position: relative;
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 650px; /* Szélesség megtartása */
  height: auto; /* Automatikus magasság a tartalom alapján */
  max-height: 90vh; /* A modal maximális magasságának korlátozása */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Tartalom tetejére igazítása */
  align-items: flex-start; /* Tartalom bal oldalra igazítása */
  text-align: left;
  overflow-y: auto; /* Görgetősáv megjelenítése szükség esetén */
}

.close-button {
  position: absolute;
  top: 10px; /* Pozíció a modal tetejétől */
  right: 10px; /* Pozíció a modal jobb szélétől */
  background: transparent; /* Átlátszó háttér */
  border: none; /* Nincs keret */
  color: white; /* Fehér szöveg */
  font-size: 20px; /* Nagyság */
  cursor: pointer; /* Mutató kurzor */
}

.save-button {
  background-color: black; /* Fekete háttér */
  color: white; /* Fehér szöveg */
  border: none;
  padding: 10px 20px; /* Padding beállítása */
  font-size: 16px; /* Betűméret beállítása */
  cursor: pointer; /* Mutató kurzor beállítása */
  border-radius: 5px; /* Keret lekerekítése */
  position: absolute; /* Abszolút pozicionálás a modalon belül */
  bottom: 20px; /* A modal aljától való távolság */
  right: 20px; /* A modal jobb szélétől való távolság */
}

.save-button:hover, .close-button:hover {
  color: blue; /* Kék szöveg a mentés és bezárás gombokon hover állapotban */
}

.form-group {
  width: 500px; /* Használja ki a modal szélességét */
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 100%; /* A mezők szélessége teljesen kitölti a form-group-ot */
  padding: 8px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}

.form-group input[type="text"]:hover,
.form-group input[type="number"]:hover {
  border-color: blue; /* Kék keret hover állapotban */
}
