.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: black;
  color: white;
  padding: 20px;
  border: 2px solid white;
  border-radius: 5px;
  width: 650px;
  height: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.save-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 20px; 
  right: 20px;
}

.save-button:hover, .close-button:hover {
  color: blue;
}

.form-group {
  width: 500px;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}

.form-group input[type="text"]:hover,
.form-group input[type="number"]:hover {
  border-color: blue;
}
